[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
plotly = "==5.10.0"
kaleido = "*"
dataclass-csv = "*"
pysimplegui = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.10"
